{% extends "base.html" %}
{%block activeautores%}active{%endblock%}
{% block body %}
<div class="container">
    <form class="row row-cols-lg-auto g-3 align-items-center" method="POST" action="{% url 'cadastro' %}">{% csrf_token %}
        <div class="col-12">
            <div class="input-group mt-3 mb-3">
                    <input value="{{autor}}" type="text" class="form-control" placeholder="Nome do autor" aria-label="Nome do autor" aria-describedby="button-addon2" name="nome">
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit" id="button-addon2">Cadastrar</button>
        </div>
    </form>
</div>

<div class="d-flex justify-content-center">
    <div class="container w-50 mt-3">
        {% if autores %}
        <h2>Autores cadastrados:</h2>
        <ul class="list-group">
            {% for autor in autores %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ autor }}
                <div>
                    <a href="{% url 'editar_autor' autor.id%}">Editar</a>
                    <button type="button" class="btn btn-link ml-auto">Excluir</button>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
