{% extends "base.html" %}
{%block activeautores%}active{%endblock%}
{% block body %}
<div class="container">
    <h5 class="mt-3 mb-0">Cadastro de novo autor:</h5>
    <form method="POST" action="{% url 'cadastro' %}">{% csrf_token %}
        <div class="col-12 w-50">
            <div class="input-group mt-1 mb-3">
                    <input value="{{autor}}" type="text" class="form-control" placeholder="Nome do autor" aria-label="Nome do autor" aria-describedby="button-addon2" name="nome">
                    <button class="btn btn-primary" type="submit" id="button-addon2">Cadastrar</button>
            </div>
        </div>
    </form>
</div>

<div class="d-flex justify-content-center">
    <div class="container w-50 mt-3">
        {% if autores %}
        <h2>Autores cadastrados:</h2>
        <ul class="list-group">
            {% for autor in autores %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ autor }}
                <div>
                    <a style="margin-right: 5px;" href="{% url 'editar_autor' autor.id%}"><button class="btn btn-primary py-1 px-1">Editar</button></a>
                    <a href="{% url 'excluir_autor' autor.id%}"><button class="btn btn-danger py-1 px-1">Excluir</button></a>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
