{% extends "base.html" %}
{% load static %}

{%block activelivros%}active{%endblock%}
{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
            <a href="/livros/cadastro_livros/" class="btn btn-primary">Cadastrar novo livro</a>
        </div>
        {% if livros %}
        <div class="col-sm-6 d-flex justify-content-end align-items-end">
            <select id="inputAutor" class="form-select w-50" name="autor">
                <option disabled="true" selected>Filtrar por autor</option>
                {% for autor in autores %}
                    <option value="{{ autor.id }}">{{ autor }}</option>
                {% endfor %}
            </select>
            <a href="#" id="filtrarLivros" class="btn btn-primary me-2">Filtrar</a>
        </div>
    </div>
    
    <div class="row mt-3 d-flex text-center">
        <h1>Livros Cadastrados</h1>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Título</th>
                        <th class="text-center" scope="col">Autor</th>
                        <th class="text-center" scope="col">Ano de Publicação</th>
                        <th class="text-center" scope="col">Gênero</th>
                        <th class="text-center" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in livros %}
                    <tr>
                        <td>{{livro}}</td>
                        <td class="text-center">{{livro.autor}}</td>
                        <td class="text-center">{{livro.publicacao}}</td>
                        <td class="text-center">{{livro.genero}}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'editar_livro' livro.id%}" class="btn btn-primary py-1 px-1 me-1">Editar</a>
                                <a href="{% url 'excluir_livro' livro.id%}" class="btn btn-danger py-1 px-1 ms-1">Excluir</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="container mt-3 d-flex justify-content-center align-items-center flex-column">
        <h1>Nenhum livro cadastrado</h1>
        <h2>Para cadastrar um livro, primeiro navegue até a sessão "Autores" e cadastre um autor</h2>
        <p>Em seguida volte aqui e clique no botão (Cadastrar novo livro) para iniciar sua livraria pessoal</p>
        <img src="{% static 'img/pngwing.png' %}" alt="logo" class="img-fluid w-75">
    </div>
    {% endif %}

</div>

<script>
    document.getElementById('filtrarLivros').addEventListener('click', function() {
        // Capturando o valor selecionado do <select>
        var selectedAutorId = document.getElementById('inputAutor').value;
        // Atualizando o href do link de filtragem
        var url = "{% url 'livros_por_autor' 0 %}".replace('0', selectedAutorId);
        // Redirecionando para a URL atualizada
        window.location.href = url;
    });
</script>


{% endblock %}
